body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #204051;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

p {
  font-weight: normal;
  line-height: 2;
}

a {
  color: #11999E;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.bl {
  color: black;
}

.bottom-container {
  padding: 50px 0 30px;
  background-color: #66BFBF;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 50%;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.middle-container {
  background-color: #dbe2ef;
  margin: 30 auto 30 auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.footer-link {
  color: #11999E;
  size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px auto 10px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.btn {
  box-shadow: 0 1 0 0 #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 8px;
  border: 3px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 9px;
  text-decoration: none;
  text-shadow: 0 -1 0 #5b6178;
}

.btn:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.contact-me {
  padding-bottom: 40px;
}

.btn:active {
  position: relative;
  top: 1px;
}

.contact-message {
  width: 25%;
  margin: 40px auto 60px;
}

.intro {
  width: 25%;
  margin: auto;
}

.profile-img {
  width: 25%;
  height: 25%;
}

.comp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #dbe2ef;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 5%;
}
